
@charset "utf-8";
/* CSS Document */

/*home*/
h4{
	margin:0px;
	padding:0px;
}
#home{
	background:url(../images/background.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#home_header{
	background-color:black;
}
#home_header h1{
	font-family:"Comic Sans MS", cursive;
}
#banner{
	width:100%;
}
/*end of home*/

/*rankings*/
#rankings{
	background:url(../images/background.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}
/*end of rankings*/

/*champions*/
#champions{
	background:url(../images/background.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#champions a{
	text-decoration:none;
	margin:0px;
	padding:0px;
}
#champions p{
	margin:0px;
	padding:0px;
}
/*end of champions*/

/*hall of fame*/
#hall_of_fame{
	background:url(../images/background.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}
#hall_of_fame p{
	font-family:Verdana, Geneva, sans-serif;
	background-color:white;
	border:1px solid black;
}
/*end hall of fame*/

/*upcoming events*/
#upcoming_Events{
	background:url(../images/background.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
}
/*end of upcoming events*/


p, h1, h2, h3, h4, h5, h6{
	font-family:"Comic Sans MS", cursive;
}
	
#home h4{
	border:2px solid black;
	background:white;
	text-align:center;
}
#info_page p{
	border:2px solid black;
	background-color:white;
	text-align:center;
}